<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <a href="/">Dashboard</a>
    <a href="/add-task">Add Task</a>
    <a href="/logout">Logout</a>
</nav>

<div class="container">

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="flash-message">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>