<html>
    <style>
        body {
            text-align: center;
            background-color: green;
        }
        form {
            display: inline-block;
        }
    </style>
    <body>
        <h3>Hey folks, please fill out this form</h3>
        <form action = "/passing" method = "POST">
            <p>Name <input type = "text" name = "name"/></p>
            <p>Email <input type = "text" name = "email"/></p>
            <p>Phone No <input type = "text" name = "phone"/></p>
            <p> <input type = "submit" value = "submit"/></p>
        </form>
        <h4>Thinknyx Technologies</h4>
    </body>
</html>